
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@ViewBag.UserInformation.RoleName

<div class="row">
    <div class="col-md-12" id="message">
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="col-md-12 col-sm-12">
            <div id="successMessage">
                <div class='alert alert-success alert-dismissible fade in'>
                    <button class='close' type='button' data-dismiss='alert' aria-hidden='true'>×</button>
                    <h4><i class='icon fa fa-check'></i> Success </h4>@TempData["SuccessMessage"]
                </div>

            </div>
        </div>
    }
</div>