/****** Object:  Database [KCS]    Script Date: 01/29/19 4:28:01 PM ******/
CREATE DATABASE [KCS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVC_Login', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MVC_Login.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVC_Login_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MVC_Login_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KCS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 01/29/19 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[MenuText] [nvarchar](1000) NOT NULL,
	[MenuTargetPage] [nvarchar](1000) NOT NULL,
	[ParentMenuId] [int] NULL,
	[MenuIcon] [nvarchar](500) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ActiveStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuRoleMapper]    Script Date: 01/29/19 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuRoleMapper](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsInsert] [bit] NULL,
	[IsUpdate] [bit] NULL,
	[IsDelete] [bit] NULL,
	[IsView] [bit] NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_MenuRoleMapper] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 01/29/19 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](1000) NOT NULL,
	[RoleDescription] [nvarchar](4000) NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ActiveStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Setting]    Script Date: 01/29/19 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NOT NULL,
	[Image] [image] NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 01/29/19 4:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](1000) NOT NULL,
	[Password] [nvarchar](1000) NOT NULL,
	[Name] [nvarchar](1000) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[ProfilePicture] [image] NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[RoleId] [int] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[ActiveStatus] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([MenuId], [MenuText], [MenuTargetPage], [ParentMenuId], [MenuIcon], [CreatedOn], [ModifiedOn], [ActiveStatus]) VALUES (1, N'Master', N'#', NULL, N'fa fa-home', CAST(0x0000A9DC01143D8A AS DateTime), NULL, 1)
INSERT [dbo].[Menu] ([MenuId], [MenuText], [MenuTargetPage], [ParentMenuId], [MenuIcon], [CreatedOn], [ModifiedOn], [ActiveStatus]) VALUES (4, N'Pages', N'#', NULL, N'fa fa-book', CAST(0x0000A9DC01222BE3 AS DateTime), CAST(0x0000A9DC0127FA4E AS DateTime), 1)
INSERT [dbo].[Menu] ([MenuId], [MenuText], [MenuTargetPage], [ParentMenuId], [MenuIcon], [CreatedOn], [ModifiedOn], [ActiveStatus]) VALUES (1003, N'User', N'User', 1, N'fa fa-user', CAST(0x0000A9E000A8F58F AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[MenuRoleMapper] ON 

INSERT [dbo].[MenuRoleMapper] ([Id], [MenuId], [RoleId], [IsInsert], [IsUpdate], [IsDelete], [IsView], [CreatedOn]) VALUES (343, 1006, 7, 1, 1, 1, 1, CAST(0x0000A9E400FE8F57 AS DateTime))
INSERT [dbo].[MenuRoleMapper] ([Id], [MenuId], [RoleId], [IsInsert], [IsUpdate], [IsDelete], [IsView], [CreatedOn]) VALUES (344, 1005, 7, 1, 0, 0, 1, CAST(0x0000A9E400FE8F57 AS DateTime))
INSERT [dbo].[MenuRoleMapper] ([Id], [MenuId], [RoleId], [IsInsert], [IsUpdate], [IsDelete], [IsView], [CreatedOn]) VALUES (345, 1004, 7, 1, 1, 1, 1, CAST(0x0000A9E400FE8F57 AS DateTime))
SET IDENTITY_INSERT [dbo].[MenuRoleMapper] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName], [RoleDescription], [CreatedOn], [ModifiedOn], [ActiveStatus]) VALUES (1, N'Super Administrator', NULL, CAST(0x0000A9D7009B5F9F AS DateTime), CAST(0x0000A9DF00AED2B6 AS DateTime), 1)
INSERT [dbo].[Role] ([RoleId], [RoleName], [RoleDescription], [CreatedOn], [ModifiedOn], [ActiveStatus]) VALUES (7, N'Administrator', N'Role Description', CAST(0x0000A9DC01086854 AS DateTime), CAST(0x0000A9DF00A86647 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Setting] ON 

SET IDENTITY_INSERT [dbo].[Setting] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [Password], [Name], [Phone], [ProfilePicture], [StartDate], [EndDate], [RoleId], [IsDefault], [CreatedOn], [ModifiedOn], [ActiveStatus]) VALUES (1011, N'admin2', N'UG7wfKefw4E6edFOQByn3/Qr2zoy4ASltcn1h29en+Q=', N'viraj', N'9876543210', NULL, CAST(0x0000A9DD00000000 AS DateTime), NULL, 7, 0, CAST(0x0000A9E0013ABA15 AS DateTime), CAST(0x0000A9E400CBEAE2 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_MenuTargetPage]  DEFAULT (N'#') FOR [MenuTargetPage]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_ParentMenuId]  DEFAULT (NULL) FOR [ParentMenuId]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_MenuIcon]  DEFAULT (NULL) FOR [MenuIcon]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_ModifiedOn]  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_ActiveStatus]  DEFAULT ((1)) FOR [ActiveStatus]
GO
ALTER TABLE [dbo].[MenuRoleMapper] ADD  CONSTRAINT [DF_MenuRoleMapper_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_CreatedOn]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_ActiveStatus]  DEFAULT ((1)) FOR [ActiveStatus]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_StartDate]  DEFAULT (NULL) FOR [StartDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_EndDate]  DEFAULT (NULL) FOR [EndDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_Table_1_ActiveStatus]  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ModifiedOn]  DEFAULT (NULL) FOR [ModifiedOn]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ActiveStatus]  DEFAULT ((1)) FOR [ActiveStatus]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_Menu_ParentMenuId] FOREIGN KEY([ParentMenuId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_Menu_ParentMenuId]
GO
ALTER TABLE [dbo].[MenuRoleMapper]  WITH CHECK ADD  CONSTRAINT [FK_MenuRoleMapper_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[MenuRoleMapper] CHECK CONSTRAINT [FK_MenuRoleMapper_MenuId]
GO
ALTER TABLE [dbo].[MenuRoleMapper]  WITH CHECK ADD  CONSTRAINT [FK_MenuRoleMapper_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[MenuRoleMapper] CHECK CONSTRAINT [FK_MenuRoleMapper_RoleId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_RoleId]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 - Active, 2 - Inactive' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Role', @level2type=N'COLUMN',@level2name=N'ActiveStatus'
GO
